{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6 pt-3">
      <h2 class="text-center pt-5">Add Patient</h2>
      <form method="POST" enctype="multipart/form-data" class="pt-2">
        {%csrf_token%}
        <table class="table table-striped" style=" border: 1px solid rgb(136, 130, 130);">
          {{form.as_table}}
          <tr>
            <td colspan="2"><button type="submit" class="btn btn-success btn-block">Add</button></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
{%endblock%}